.modal-dialog {
    margin-top: 100px
}

 .modal-content {
    box-shadow: none;
    border: none
}

 input::-webkit-input-placeholder {
    color: #ccc !important
}

 input:-moz-placeholder,  input::-moz-placeholder {
    color: #ccc !important
}

 input:-ms-input-placeholder {
    color: #ccc !important
}

 .task-pickers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

 .task-field-picker {
    margin-right: 1rem
}

 .task-field-picker label {
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 500px;
    text-align: center;
    color: #868e96;
    border: 1px dashed #ccc;
    font-size: 1.5rem;
    color: #ccc;
    margin-right: 1rem;
    margin-bottom: 0
}

 .task-field-picker input {
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    color: #ccc;
    font-weight: 400;
    width: 100px
}

.modal .close {
    border: none;
    outline: none;
    box-shadow: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 1.13rem;
    border-radius: 500px;
    border: 1px solid #868e96
}

 .task-name-wrap {
    position: relative
}

 .task-name-wrap span {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 500px;
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    border: 1px solid #ccc;
    font-size: 1.5rem;
    color: #ccc
}

 .task-desc-field,  .task-name-field {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    color: #868e96
}

 .task-name-field {
    padding-left: 42px;
    height: 60px;
    font-size: 1.75rem;
    font-weight: 500
}

 .task-desc-field {
    height: 180px;
    resize: none;
    padding: 1.5rem;
    font-size: 1rem
}