@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");

.app-wrapper {
    font-family: Raleway, sans-serif;
    width: 100%;
    border: 1px solid #eee;
    border-radius: .25rem
}

.app-main, .app-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.app-main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-left: 1px solid #eee;
    background: #f8f9fa
}

.app-main-header {
    height: 90px;
    background: #fff;
    padding: 1.5rem;
    border-bottom: 1px solid #eee
}

.app-main-heading {
    margin-bottom: 0;
    line-height: 40px
}

.app-main-content {
    -webkit-box-flex: 2;
    -ms-flex: 2 2 0%;
    flex: 2 2 0%
}

.app-panel {
    height: calc(100% - 66px);
    top: 66px;
    position: fixed;
    width: 340px;
    left: -340px;
    right: auto;
    z-index: 997;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    -webkit-transition: left .5s, top .5s;
    transition: left .5s, top .5s;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 340px;
    flex: 0 0 340px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, .08)
}

.app-panel.show {
    left: 0
}

body.navbar-collapse-in .app-panel {
    top: 132px
}

body.menubar-open .app-panel {
    left: -340px
}

@media (min-width: 768px) {
    .app-panel {
        position: static;
        height: auto;
        box-shadow: none
    }
}

.app-panel-inner {
    height: auto
}

@media (max-width: 767px) {
    .app-panel-inner {
        height: calc(100% - 90px);
        overflow: hidden
    }
}

.app-panel-toggle {
    position: absolute;
    top: 25%;
    right: -30px;
    display: block;
    width: 30px;
    height: 50px;
    background: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .08)
}

.app-panel-toggle .fa {
    text-align: center;
    line-height: 50px;
    width: 25px;
    font-size: 1.13rem
}

.app-panel-toggle .fa-chevron-left {
    display: none
}

.show .app-panel-toggle .fa-chevron-left {
    display: block
}

.show .app-panel-toggle .fa-chevron-right {
    display: none
}

@media (min-width: 768px) {
    .app-panel-toggle {
        display: none
    }
}

.panel-item {
    border: 1px solid #eee;
    border-radius: .25rem;
    margin-bottom: .5rem;
    padding: .75rem
}

.panel-item:last-child {
    margin-bottom: 0
}

a.panel-item {
    display: block
}

.app-search {
    position: relative;
    height: 90px;
    padding: 1.5rem;
    border-bottom: 1px solid #eee
}

.app-search .search-field {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    height: 40px;
    padding: .75rem;
    border-radius: 500px;
    border: 1px solid #eee
}

.app-search .search-icon {
    position: absolute;
    top: 2.25rem;
    right: 2.25rem
}

.project-task {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #eee
}

.project-task label {
    font-size: 1rem
}

.project-task input[type=checkbox]:checked + label {
    color: #aaa;
    font-style: italic;
    text-decoration: line-through
}

.projects-list {
    padding: 1rem
}

.projects-list .avatar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 64px;
    flex: 0 0 64px
}

.projects-list .media {
    padding: .5rem 0;
    cursor: pointer
}

.projects-list .media.selected .project-icon, .projects-list .media:hover .project-icon {
    border-color: #60c84c;
    background: #fff;
    color: #60c84c
}

.projects-list .media.selected .project-name, .projects-list .media:hover .project-name {
    color: #60c84c
}

.projects-list .project-icon {
    color: gray;
    background: #f8f9fa;
    border: 1px solid #eee
}

.projects-list .project-name {
    margin-bottom: .25rem;
    font-weight: 500;
    white-space: nowrap
}

.projects-list .project-detail {
    color: #bbb;
    font-size: .875rem;
    white-space: nowrap
}

.people-list .avatar {
    font-weight: 600;
    font-size: 18px;
    margin-right: .5rem;
    margin-bottom: 1rem
}

.add-people-btn {
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    background: none;
    padding: 0;
    color: #60c84c !important;
    border: 2px solid #60c84c
}

.add-people-btn:focus {
    outline: none
}

#projects-task-modal .modal-dialog {
    margin-top: 100px
}

#projects-task-modal .modal-content {
    box-shadow: none;
    border: none
}

#projects-task-modal input::-webkit-input-placeholder {
    color: #ccc !important
}

#projects-task-modal input:-moz-placeholder, #projects-task-modal input::-moz-placeholder {
    color: #ccc !important
}

#projects-task-modal input:-ms-input-placeholder {
    color: #ccc !important
}

#projects-task-modal .task-pickers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#projects-task-modal .task-field-picker {
    margin-right: 1rem
}

#projects-task-modal .task-field-picker label {
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 500px;
    text-align: center;
    color: #868e96;
    border: 1px dashed #ccc;
    font-size: 1.5rem;
    color: #ccc;
    margin-right: 1rem;
    margin-bottom: 0
}

#projects-task-modal .task-field-picker input {
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    color: #ccc;
    font-weight: 400;
    width: 100px
}

#projects-task-modal .close {
    border: none;
    outline: none;
    box-shadow: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 1.13rem;
    border-radius: 500px;
    border: 1px solid #868e96
}

#projects-task-modal .task-name-wrap {
    position: relative
}

#projects-task-modal .task-name-wrap span {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 500px;
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    border: 1px solid #ccc;
    font-size: 1.5rem;
    color: #ccc
}

#projects-task-modal .task-desc-field, #projects-task-modal .task-name-field {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    color: #868e96
}

#projects-task-modal .task-name-field {
    padding-left: 42px;
    height: 60px;
    font-size: 1.75rem;
    font-weight: 500
}

#projects-task-modal .task-desc-field {
    height: 180px;
    resize: none;
    padding: 1.5rem;
    font-size: 1rem
}


/*=================================================================*/


#editModal .modal-dialog {
    margin-top: 100px
}

#editModal .modal-content {
    box-shadow: none;
    border: none
}

#editModal input::-webkit-input-placeholder {
    color: #ccc !important
}

#editModal input:-moz-placeholder, #editModal input::-moz-placeholder {
    color: #ccc !important
}

#editModal input:-ms-input-placeholder {
    color: #ccc !important
}

#editModal .task-pickers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#editModal .task-field-picker {
    margin-right: 1rem
}

#editModal .task-field-picker label {
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 500px;
    text-align: center;
    color: #868e96;
    border: 1px dashed #ccc;
    font-size: 1.5rem;
    color: #ccc;
    margin-right: 1rem;
    margin-bottom: 0
}

#editModal .task-field-picker input {
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    color: #ccc;
    font-weight: 400;
    width: 100px
}

#editModal .close {
    border: none;
    outline: none;
    box-shadow: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 1.13rem;
    border-radius: 500px;
    border: 1px solid #868e96
}

#editModal .task-name-wrap {
    position: relative
}

#editModal .task-name-wrap span {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 500px;
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    border: 1px solid #ccc;
    font-size: 1.5rem;
    color: #ccc
}

#editModal .task-desc-field, #editModal .task-name-field {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    color: #868e96
}

#editModal .task-name-field {
    padding-left: 42px;
    height: 60px;
    font-size: 1.75rem;
    font-weight: 500
}

#editModal .task-desc-field {
    height: 180px;
    resize: none;
    padding: 1.5rem;
    font-size: 1rem
}


/*=====================================================================*/
#importModal .modal-dialog {
    margin-top: 100px
}

#importModal .modal-content {
    box-shadow: none;
    border: none
}

#importModal input::-webkit-input-placeholder {
    color: #ccc !important
}

#importModal input:-moz-placeholder, #importModal input::-moz-placeholder {
    color: #ccc !important
}

#importModal input:-ms-input-placeholder {
    color: #ccc !important
}

#importModal .task-pickers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#importModal .task-field-picker {
    margin-right: 1rem
}

#importModal .task-field-picker label {
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 500px;
    text-align: center;
    color: #868e96;
    border: 1px dashed #ccc;
    font-size: 1.5rem;
    color: #ccc;
    margin-right: 1rem;
    margin-bottom: 0
}

#importModal .task-field-picker input {
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    color: #ccc;
    font-weight: 400;
    width: 100px
}

#importModal .close {
    border: none;
    outline: none;
    box-shadow: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 1.13rem;
    border-radius: 500px;
    border: 1px solid #868e96
}

#importModal .task-name-wrap {
    position: relative
}

#importModal .task-name-wrap span {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 500px;
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    border: 1px solid #ccc;
    font-size: 1.5rem;
    color: #ccc
}

#importModal .task-desc-field, #importModal .task-name-field {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    color: #868e96
}

#importModal .task-name-field {
    padding-left: 42px;
    height: 60px;
    font-size: 1.75rem;
    font-weight: 500
}

#importModal .task-desc-field {
    height: 180px;
    resize: none;
    padding: 1.5rem;
    font-size: 1rem
}