html {
    height: 100%
}

body.page-login {
    padding: 0;
    min-height: 100%;
    height: 100%;
    width: 100%;
    color: #fff;
    background-color:#501310;
}
.login-page-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.5rem
}

.login-page-header .switch-btns .btn {
    border: none;
    outline: none;
    box-shadow: none;
    background: #60c84c;
    border: 1px solid #60c84c;
    color: #fff
}

.login-page-header .switch-btns .btn[disabled] {
    background: none;
    border-color: #444;
    color: gray
}

.form-wrap {
    display: none
}

.form-wrap.show {
    display: block
}

.login-page-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%
}

.login-page-wrap .side {
    padding: 124px 1.5rem 1.5rem
}

.login-page-wrap .side:first-child {
    display: none;
    background: #FF8702
}

.login-page-wrap .side:last-child {
    background: #501310
}

.location{
    height: 70%
}
@media only screen and (max-width: 767px) {
    .login-page-wrap .side:last-child {
        background: #FF8702
    }

    .location{
        height: 50%
    }
}


.login-page-wrap .side-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

@media (min-width: 768px) {
    .login-page-wrap .side {
        -webkit-box-flex: 0;
        -ms-flex: 0 2 5000px;
        flex: 0 2 5000px;
        overflow: hidden
    }

    .login-page-wrap .side:first-child {
        display: block
    }
}

@media (min-width: 992px) {
    .login-page-wrap .side-content {
        padding-left: 5rem;
        padding-right: 5rem
    }
}

.form-wrap .form .form-control {
    border: none;
    outline: none;
    box-shadow: none;
    padding: .75rem 0;
    border-radius: 0;
    background: none;
    border-bottom: 1px solid #444;
    -webkit-transition: border-bottom-color .5s;
    transition: border-bottom-color .5s
}

.form-wrap .form .form-control:focus {
    border-bottom-color: #60c84c;
    color: #fff;
    padding-top: .5rem;
    padding-bottom: 1rem
}

.form-wrap .form input::-webkit-input-placeholder {
    color: #444 !important
}

.form-wrap .form input:-moz-placeholder, .form-wrap .form input::-moz-placeholder {
    color: #444 !important
}

.form-wrap .form input:-ms-input-placeholder {
    color: #444 !important
}

#login-page-slider .item img {
    max-width: 100%;
    height: 200px
}

#login-page-slider .item p {
    font-size: 1rem
}

#login-page-slider .owl-controls {
    width: 54px;
    margin: 0 auto;
    margin-top: 2rem
}

#login-page-slider .owl-controls .owl-page {
    display: inline-block;
    margin-right: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: none;
    border: 1px solid #fff;
    cursor: pointer
}

#login-page-slider .owl-controls .owl-page.active {
    background: #fff
}


.btn-outline-success-theme {
    color: #FF8702;
    background-color: transparent;
    background-image: none;
    border-color: #FF8702
}

.btn-outline-success-theme:hover {
    color: #fff;
    background-color: #FF8702;
    border-color: #FF8702
}

.btn-outline-success-theme.focus, .btn-outline-success-theme:focus {
    box-shadow: 0 0 0 3px rgba(96, 200, 76, .5)
}

.btn-outline-success-theme.disabled, .btn-outline-success-theme:disabled {
    color: #FF8702;
    background-color: transparent
}

.btn-outline-success-theme.active, .btn-outline-success-theme:active, .show > .btn-outline-success-theme.dropdown-toggle {
    color: #fff;
    background-color: #FF8702;
    border-color: #FF8702
}

.welcome-msg{
    color: #FF8702;
}

@media only screen and (max-width: 767px) {
    .welcome-msg{
        color: #FF8702;
    }
}

