.post-editor, .stream-post {
    padding: .75rem;
    background: #f8f9fa;
    border: 1px solid #eee;
    border-radius: .25rem;
    margin-bottom: 24px
}

.profile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media (min-width: 768px) {
    .profile-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
}

body.menubar-top .profile-wrapper {
    border: 1px solid #eee
}

.profile-section-user {
    border-right: 1px solid #eee;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}

@media (min-width: 768px) {
    .profile-section-user {
        -ms-flex-preferred-size: 34%;
        flex-basis: 34%
    }
}

@media (min-width: 992px) {
    .profile-section-user {
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%
    }
}

.profile-section-user table {
    margin-bottom: 0
}

.profile-section-user table td {
    border: none;
    padding-left: 0;
    padding-right: 0
}

.profile-section-user .img-gallery [class*=col] {
    padding-right: .25rem;
    padding-left: .25rem
}

.profile-section-user .img-gallery .row {
    margin-right: -.25rem;
    margin-left: -.25rem
}

.profile-section-user .img-gallery .g__item {
    margin-bottom: .5rem
}

.profile-cover-img img {
    width: 100%;
    height: auto
}

.profile-info-brief {
    position: relative;
    padding-top: 74px !important
}

.profile-info-brief .user-profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px)
}

.profile-section-main {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 5000px;
    flex: 0 1 5000px;
    overflow: hidden
}

.profile-tabs {
    padding: 12px 24px 0;
    background: #f8f9fa;
    border-top: 1px solid #eee
}

.profile-tabs .nav-link {
    font-weight: 400;
    padding: .75rem 1.5rem
}

.profile-tabs .nav-link.active, .profile-tabs .nav-link.active:focus, .profile-tabs .nav-link.active:hover, .profile-tabs .nav-link:active, .profile-tabs .nav-link:focus {
    color: #60c84c
}

.profile-tabs-content .tab-pane {
    padding: 24px
}

.post-editor .post-field {
    width: 100%;
    height: 120px;
    resize: vertical;
    border-radius: .25rem;
    margin-bottom: .5rem;
    padding: .5rem;
    border-color: #eee
}

.post-editor .post-field:focus {
    box-shadow: none;
    outline: none
}

.stream-post {
    position: relative
}

.sp-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.sp-author .sp-author-avatar {
    display: inline-block;
    height: 64px;
    width: 64px;
    margin-right: 16px
}

.sp-author .sp-author-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%
}

.sp-author .sp-author-name {
    font-size: 1rem;
    margin: .5rem 0
}

@media (min-width: 992px) {
    .sp-author {
        position: absolute;
        width: 100%;
        left: 1rem;
        top: 1rem
    }

    .sp-author .sp-author-name {
        margin: 0;
        position: absolute;
        left: 80px;
        top: 8px;
        background: rgba(0, 0, 0, .9);
        padding: .75rem 1.5rem;
        border-radius: 6px;
        z-index: -1;
        opacity: 0;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
        transform-origin: left center;
        -webkit-transition: opacity .3s, -webkit-transform .3s;
        transition: opacity .3s, -webkit-transform .3s;
        transition: opacity .3s, transform .3s;
        transition: opacity .3s, transform .3s, -webkit-transform .3s
    }

    .sp-author .sp-author-name > a {
        color: #fff
    }

    .sp-author .sp-author-avatar:hover + .sp-author-name {
        opacity: 1;
        z-index: 9999;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0)
    }

    .sp-author .sp-author-name:after {
        content: "";
        display: block;
        position: absolute;
        left: -8px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid rgba(0, 0, 0, .9)
    }
}

.sp-content {
    position: relative;
    border-radius: .25rem;
    background: #fff;
    padding: 1rem;
    margin-top: 1rem
}

.sp-content .sp-info {
    font-size: .875rem;
    color: #868e96;
    position: absolute;
    top: -3rem;
    left: 80px
}

.sp-content .sp-paragraph {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem
}

.sp-content .sp-paragraph:last-child {
    margin-bottom: 0
}

.sp-content .sp-gallery img {
    margin-right: .5rem;
    margin-bottom: .5rem;
    max-width: 220px;
    max-height: 130px
}

.sp-content .sp-video {
    width: 100%;
    height: auto
}

@media (min-width: 992px) {
    .sp-content {
        margin-left: 80px;
        margin-top: 0
    }

    .sp-content .sp-info {
        position: static;
        font-style: italic;
        margin-bottom: 1rem
    }
}

#profile-settings textarea {
    padding: 1rem;
    line-height: 1.8;
    height: 140px;
    font-style: italic
}

#profile-settings label {
    font-size: 1rem
}

#profile-settings .form-control {
    color: #868e96
}

#profile-settings .form-control, #profile-settings .form-control:focus {
    box-shadow: none;
    outline: none
}

.edit-cover {
    position: relative;
    padding: .5rem;
    border-radius: .25rem;
    border: 1px solid #eee;
    background: #f8f9fa;
    height: 400px
}

.edit-cover img {
    border-radius: .25rem;
    width: 100%;
    height: 100%
}

.edit-cover .btn {
    position: absolute;
    right: 32px;
    bottom: 32px
}