.sidebar{
	background-color: #003663;
	/*width: 120px; height:1000px;*/
	/*margin-left: 150px;*/
}

.heading{
	font-family: Myriad Pro;
	color: black;
}

.inv{
	background-color: #003663;
	font-family: Prestige Elite Std;
	font-size: 30px;
	text-align: center;
	margin-top: 0px;
	padding-top: 3px;
	color: white;
}

.num{
	font-size: 7px;

}