#theme-customizer {
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #fff;
    -webkit-transition: right .5s;
    transition: right .5s;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, .08);
    right: -300px;
    z-index: 1040
}

#theme-customizer.show {
    right: 0
}

.theme-customizer-body {
    height: calc(100% - 161px)
}

.theme-customizer-body .tab-content {
    height: calc(100% - 37px)
}

.theme-customizer-body .tab-pane {
    height: 100%;
    overflow: auto;
    background-color: #f6f6f6
}

.customizer-action-btns .btn {
    width: 45%;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px
}

#theme-customizer-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 55px;
    height: 60px;
    position: absolute;
    left: -55px;
    top: 35%;
    border: 1px solid #f0f0f0;
    background: #fff;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, .08);
    cursor: pointer;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem
}