.app-main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-left: 1px solid #eee;
    background: #fff;
}

#container {
    position: relative;
    padding: 0px;
    width: 100%;
    height: 330px;
    overflow: auto;
}

#container .content {
    width: 100%;
    height: 100%;
}

