#floating-button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #60c84c;
    /*position: fixed;*/
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
    z-index: 2
}

.floating-button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #60c84c;
    /*position: fixed;*/
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
    z-index: 2
}

.plus{
    color: white;
    /*position: absolute;*/
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 35px;
    font-size: 38px;
    font-weight: 300;
    animation: plus-out 0.3s;
    transition: all 0.3s;
}

.hide {
    display: none;
}

.app-main-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-left: 1px solid #eee;
    background: #fff;
}

#projects-task-modal .modal-bg {
    padding: 50px;
}

#projects-task-modal .modal-content {
    box-shadow: none;
    border: none
}

#projects-task-modal .close {
    border: none;
    outline: none;
    box-shadow: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 1.13rem;
    border-radius: 500px;
    border: 1px solid #868e96
}

#container {
    position: relative;
    padding: 0px;
    width: 100%;
    height: 200px;
    overflow: auto;
}

#container .content {
    width: 100%;
    height: 50%;
}

#rcontainer {
    position: relative;
    padding: 0px;
    width: 100%;
    height: 400px;
    overflow: auto;
}

#rcontainer .content {
    width: 100%;
    height: 20%;
}


